{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static '/css/reg-log.css' %}">{% endblock %}
{% block title %}Registration{% endblock %}

{% block content %}

    <div class="reg_box">

    <div class="text_box_rules">
    <h2 class="rules_head">Rules of the programming club</h2>
    <p class="rules">
    <ul>
                <li>First rule of the programming club - Never talk about programming club.</li>
                <li>Second  rule of the programming club - Never EVER talk about programming club.</li>
                <li>Thierd rule of the programming club - If (developer.said() == “COMMIT” or  developer.exhaled() or developer.pushed(commit) == True): Project.Fineshed()</li>
                <li>Forth rule of the programming club - Only two and I half men work on a project.</li>
                <li>Fifth rule of the programming club - Commits should go one after another. Not all at once.</li>
                <li>Sixth rule of the programming club - DO NOT write more than one line of code (time period not included).</li>
                <li>Seventh rule of the programming club - You should programm as far as you need to not less and absolutely not more.</li>
                <li>Eighth rule of the programming club - The one who found a bug in the code no metter his specialization back or front is now obliged to debug the whole code.</li>
            </ul>



    </p>
    </div>
    <div class="input_form">
        <h1 class="reg-header">Registration</h1><br>
        <form method="post" class="form-reg">



            {% csrf_token %}
            {% for f in form %}
            <p>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            {% if message %}    
            <div class="form-error"> WARNING {{ message }}</div>
            {% endif %}
            <button type="submit" class="btn_add">Register</button>
            
        </form>
        <a class="auth-link" href="{% url 'login' %}">Already a gogorik?</a>
    </div>
    </div>


{% endblock %}