{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/create_multychat.css' %}">
{% endblock %}
{% block title %}GC | {{ chat_name }} Settings{% endblock %}

{% block content %}
<div class="container">
    <h1 class="chat-info-title">Chat settings</h1>
    <form id="members-form" method="POST" enctype="multipart/form-data">
        <div class="input-img">
        {% if chat_avatar_name %}
            <div class="input-file-row" id="box-img">
						    <label class="input-file" id="add_btn" style="visibility: hidden; width: 0px; height: 0px; margin: 0px;">
						    <input type="file" name="chat-photo-form" accept="image/*" id="id_photo" value="{{chat_avatar_value}}">
						    <span>Select an Image</span>
						    </label>
					        <div id="input-list" class="input-file-list" style="margin: 0px auto;">
                                <div class="input-file-list-item">
                                    <a href="#" onclick="removeFilesItem(this); return false;" class="input-file-list-remove">x</a>
                                    <img class="input-file-list-img" src="{{chat_avatar_url}}">
                                </div>
                            </div>
				        </div>
        <input id = 'is_del' name="is_del" type="text" style="display: none;" value="0">
        {% else %}
        <div class="input-file-row" id="box-img">
						<label class="input-file" id="add_btn">
						<input type="file" name="chat-photo-form" accept="image/*" id="id_photo" >
						<span>Choose an Image</span>
						</label>
					<div id="input-list" class="input-file-list"></div>
        </div>
        {% endif %}
        <div class = "settings_info_box">
            <p class ="displayed_info">{{chat_avatar_name}}</p>
        </div>
         </div>
        {% csrf_token %}
        <div class="members" id="members">
            <div class="input-chat">
                <input type="text" id="chat-name-input" name="chat-name-form" value="{{ chat_name }}" placeholder="Name">
            </div>
            <label for="members">Members:</label>
            {% for member in members %}
                <div  class="friendlist_item">
                    <img src="{{ member.avatar.url }}" class="friend-avatar">
                    <a class="friend_name" href="{% url 'profile' member.id %}">{{ member.name }} {{ member.surname }}</a>
                    <span class="friend_name">{{ member.access_description }}</span>
                    <input type="checkbox" name="members-checkbox-form" checked value="{{ member.id }}">
                </div>
            {% endfor %}
        </div>
        {% if invitable %}
            <div class="invitable">
                <label for="invitable">Invitable:</label>
                {% for member in invitable %}
                    <div  class="friendlist_item">
                        <img src="{{ member.avatar.url }}" class="friend-avatar">
                        <a class="friend_name" href="{% url 'profile' member.id %}">{{ member.name }} {{ member.surname }}</a>
                        <!-- <span class="friend_name">{{ member.access_description }}</span> -->
                        <input type="checkbox" name="members-checkbox-form" value="{{ member.id }}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if banned %}
            <div class="banned">
                <label for="banned">Banned:</label>
                {% for member in banned %}
                    <div  class="friendlist_item">
                        <img src="{{ member.avatar.url }}" class="friend-avatar">
                        <a class="friend_name" href="{% url 'profile' member.id %}">{{ member.name }} {{ member.surname }}</a>
                        <span class="friend_name">{{ member.access_description }}</span>
                        <input type="checkbox" name="members-checkbox-form" value="{{ member.id }}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </form>
    <button class="btn-save" type="submit" form="members-form">Save</button>
    <a class="btn-discard" href="{% url 'chat-list' %}">Discard</a>
</div>
{% endblock %}

{% block js %}
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static '/js/create_multychat.js' %}"></script>
{% endblock %}