@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/* BASE */
/* base.html: header*/
body{
    background-image: url("../../static/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: black;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #8270F2;    /* цвет плашки */
  border-radius: 100px;       /* закругления плашки */
  border: 0px 10px 33px #8270F2;  /* padding вокруг плашки */
}

header{
    display: flex;
    align-items: center;
    color: white;
    background-color: #000000;
    border-bottom: #8270F2 solid 5px;
    width: 100%;
    height: 7%;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 10px 33px #8270f2;

}
.header_menu{
    width: 100%;
    height: 100%;
    background-color: black;
}

.logo_h{
    height: 100%;
    display: flex;
}

.logo{
    position: absolute;
    right: 95%;
}
/*header: end*/
/*main*/

.main{
    display: flex;

}

/* Navigation*/
.navigation{
    display: inline-flex;
    width: 10%;
    position: fixed;
    margin-top: 10%;
}
.side_icon{
    width: calc(24px + 11 * (200vw / 1280));
    height: calc(24px + 11 * (200vw / 1280));
    background-color: black;
    border-radius: 1000px;
    margin: 6px;
    color:white;
    border: 2px solid #8270F2;
    transition:0.3s;
}

.now-side_icon{
    width: calc(24px + 11 * (200vw / 1280));
    height: calc(24px + 11 * (200vw / 1280));
    background-color: white;
    color: black;
    border-radius: 1000px;
    margin: 6px;
    border: 2px solid #8270F2;
    transition: 0.3s;
}

.icona{
color: white;
margin-left:20%;
margin-top: 18%;
font-size: calc(17px + 11 * (130vw / 1280));
transition: 0.3s;
}

.now-icona{
color: black;
margin-left:20%;
margin-top: 18%;
font-size: calc(17px + 11 * (130vw / 1280));
transition: 0.3s;
}

.side_menu{
    background-color: black;
    border-top-right-radius: calc((24px + 11 * (200vw / 1280)) / 2);
    border-bottom-right-radius: calc((24px + 11 * (200vw / 1280)) / 2);
    position: fixed;
    border: solid 1px #8270F2;
    box-shadow: 0px 10px 10px #8270F2;
    transform: translateY(-50%);
    top: 50%;
    max-height: 80%;
    left:-1px;
}

.auth_reg_btn{
    background: transparent;
    color:white;
    border: 2px solid black;
    text-align:center;
    font-family: 'Inter', sans-serif;
    margin-right: 20px;
    transition: all 0.3s;
}
.auth_btn:hover{
    border-bottom: 2px solid #8270F2;
}

.auth_reg_btn:hover{
    border-bottom: 2px solid #8270F2;
}

.auth_btn{
    background: transparent;
    color: #8270F2;
    font-family: 'Inter', sans-serif;
    border: 2px solid black;
    margin-right:50px;
    transition: all 0.3s;
}

.auth_box{
    width:250px;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.fa-user-group{
    font-size: calc(17px + 8 * (130vw / 1280));
    margin-left:15%;
    margin-top:18%;
}

.img_header{
    height: 80%;
    border-radius: 100%;
    margin-right: 20px;
    box-shadow: 0px 0px 20px #8270F2;
    border: 1px solid #8270F2;
}

a{
text-decoration: none;
}

textarea:focus, input:focus
{
  outline: none;
}


li{
    margin-bottom: 5px;
    margin-top: 5px;
}

.box {
   position: relative;
   overflow:hidden;
   width: 5.6vh;
   height: 80%;
   border-radius: 100%;
   margin-right: 20px;
   box-shadow: 0px 0px 20px #8270F2;
   border: 1px solid #8270F2;
}

.box img {
   position: absolute;
   top:50%;
   left:50%;
   width:100%;
   height: 100%;
   -webkit-transform:translate(-50%,-50%);
       -ms-transform:translate(-50%,-50%);
           transform:translate(-50%,-50%);
   -o-object-fit:cover;
      object-fit:cover;
}

.block_inner_avatar {
  width: 100%;
  padding-top: 100%;
  border-radius: 100%;
  position: relative;
}

.image_avatar {
	aspect-ratio: 1/1;
	object-fit: cover;
}

.header_avatar{
    height: 5.6vh;
    border-radius: 100%;
    margin-right: 20px;
    box-shadow: 0px 0px 20px #8270F2;
    border: 1px solid #8270F2;
}
