{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static '/css/new_post.css' %}">{% endblock %}
{% block title %}Create Post{% endblock %}

{% block content %}
	<div class = "post-workspace">
		<div class = "new-post-header">
			<button class = "btn_post" form="new-post-form">Create Post</button>
		</div>
		<div class = "new-post-text-img">
			<form method="POST" id="new-post-form" class="form-add-post" enctype="multipart/form-data">
				{% csrf_token %}
                {{ form.content }}
				<div class="input-file-row" id = "box-img">
						<label class="input-file" id = "add_btn">
						{{ form.photo }}
						<span>Add an Image</span>
						</label>
					<div id = "input-list" class="input-file-list">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block js %}
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static '/js/add_posts.js' %}"></script>
{% endblock %}