{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static '/css/find_friends.css' %}">{% endblock %}
{% block title %}Create Post{% endblock %}

{% block content %}
	<div class = "search-wrapper">
		<input type = "text" class = "search-id-input">
		<p>Your ID</p>
		<input type = "text" class = "search-user-id-input">

		<div class = "user-card-search">
			<div class = "profile-pic-search"></div>
			<p class = "nikname-search"></p>
			<p class = "info-search"></p>
		</div>
	</div>
{% endblock %}